body {
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
}
.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.join {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}
.btn_1, .btn_2 {
    width: 200px;
    height: 50px;
    margin: 0px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    border-radius: 20px;
    background-color: darkcyan;
}